@using System.Web.Optimization
@model sistem.manajemen.ppic.website.Models.RptEkspedisiHarianViewModel

<table class="table table-striped table-bordered table-hover dataTables-List">
    <thead>
        <tr>
            <th style="min-width: 50px">NO</th>
            <th style="min-width: 100px">NO DO</th>
            <th style="min-width: 200px">No SPB</th>
            <th style="min-width: 150px">Nama Konsumen</th>
            <th style="min-width: 120px">Tujuan Kirim</th>
            <th style="min-width: 250px">Alamat Konsumen</th>
            <th style="min-width: 150px">Nama Barang</th>
            <th style="min-width: 100px">Kemasan</th>
            <th style="min-width: 150px">Zak</th>
            <th style="min-width: 150px">Partai</th>
            <th style="min-width: 150px">Total</th>
            <th style="min-width: 150px">Total Timbangan</th>
            <th style="min-width: 100px">Total Truk</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
