
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>SIM-PPIC</title>
    <link rel="shortcut icon" href="~/Content/img/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body class="main-page">
    <div class="excise-site main-menu">
        <div class="main-header authorize">
            <div class="main-logo">
                <img src="~/Content/assets/images/logo-large.png" alt="">
            </div>
            <div class="error-page">
                <h2>
                    You don't have access to this application
                </h2>
                <h3>
                    Please contact to your EMS Administrator.
                </h3>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    © 2015 Excise Management System. PT HM Sampoerna, Tbk
                </div>
            </div>
        </div>
    </footer>
        ============================================ -->
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>

