USE [SIM_PPIC]
GO
/****** Object:  User [NT AUTHORITY\IUSR]    Script Date: 4/1/2019 1:22:57 PM ******/
CREATE USER [NT AUTHORITY\IUSR] FOR LOGIN [NT AUTHORITY\IUSR]
GO
/****** Object:  Table [dbo].[CHANGES_HISTORY]    Script Date: 4/1/2019 1:22:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGES_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODUL_ID] [int] NOT NULL,
	[FORM_ID] [bigint] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ACTION] [varchar](200) NULL,
 CONSTRAINT [PK_CHANGES_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/1/2019 1:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[USER_ID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[FIRST_NAME] [nvarchar](255) NULL,
	[LAST_NAME] [nvarchar](255) NULL,
	[PASSWORD] [text] NOT NULL,
	[STATUS] [bit] NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_BARANG_JADI]    Script Date: 4/1/2019 1:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_BARANG_JADI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[KOMPOSISI] [nvarchar](255) NOT NULL,
	[BENTUK] [nvarchar](100) NOT NULL,
	[BENTUK_LAIN] [nvarchar](100) NULL,
	[KEMASAN] [nvarchar](100) NOT NULL,
	[STOCK] [decimal](18, 2) NOT NULL,
	[STATUS] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_MST_BARANG_JADI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_WILAYAH]    Script Date: 4/1/2019 1:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_WILAYAH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WILAYAH] [nvarchar](100) NOT NULL,
	[KODE] [int] NOT NULL,
	[STATUS] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_MST_WILAYAH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGE]    Script Date: 4/1/2019 1:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE](
	[PAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAGE_NAME] [nvarchar](50) NULL,
	[PAGE_URL] [nvarchar](100) NULL,
	[MENU_NAME] [nvarchar](50) NULL,
	[PARENT_PAGE_ID] [int] NULL,
 CONSTRAINT [PK_PAGE] PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_DO]    Script Date: 4/1/2019 1:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_DO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NO_SPB] [nvarchar](100) NOT NULL,
	[NO_DO] [nvarchar](100) NOT NULL,
	[NAMA_KONSUMEN] [nvarchar](255) NOT NULL,
	[JUMLAH] [decimal](18, 2) NOT NULL,
	[NAMA_CP] [nvarchar](100) NULL,
	[NO_TELP] [nvarchar](100) NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[KETERANGAN] [text] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_TRN_DO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_PENGIRIMAN]    Script Date: 4/1/2019 1:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_PENGIRIMAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[SURAT_JALAN] [nvarchar](100) NOT NULL,
	[NO_DO] [nvarchar](100) NOT NULL,
	[NO_SPB] [nvarchar](100) NOT NULL,
	[NO_DO_RIT] [nvarchar](100) NOT NULL,
	[JUMLAH] [decimal](18, 2) NOT NULL,
	[NAMA_KONSUMEN] [nvarchar](255) NOT NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[PARTY] [decimal](18, 2) NOT NULL,
	[AKUMULASI] [decimal](18, 2) NOT NULL,
	[SISA] [decimal](18, 2) NOT NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_TRN_PENGIRIMAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_SPB]    Script Date: 4/1/2019 1:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_SPB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NO_SPB] [nvarchar](100) NOT NULL,
	[SALES] [nvarchar](100) NOT NULL,
	[WILAYAH] [nvarchar](100) NOT NULL,
	[NAMA_PRODUK] [nvarchar](100) NOT NULL,
	[KOMPOSISI] [nvarchar](255) NOT NULL,
	[BENTUK] [nvarchar](100) NOT NULL,
	[BENTUK_DESC] [text] NULL,
	[KEMASAN] [nvarchar](100) NOT NULL,
	[NAMA_KONSUMEN] [nvarchar](255) NOT NULL,
	[ALAMAT_KONSUMEN] [text] NOT NULL,
	[NO_TELP] [nvarchar](100) NULL,
	[CONTACT_PERSON] [nvarchar](100) NULL,
	[SEGMEN_PASAR] [nvarchar](100) NOT NULL,
	[JENIS_PENJUALAN] [nvarchar](50) NOT NULL,
	[JENIS_PENJUALAN_DESC] [text] NULL,
	[CARA_PEMBAYARAN] [nvarchar](50) NOT NULL,
	[KUANTUM] [decimal](18, 2) NOT NULL,
	[HARGA_JUAL] [decimal](18, 2) NOT NULL,
	[ONGKOS_KIRIM] [decimal](18, 0) NULL,
	[PPN] [nvarchar](100) NOT NULL,
	[HARGA_LOKO] [decimal](18, 2) NOT NULL,
	[LOKASI_KIRIM] [nvarchar](255) NOT NULL,
	[BATAS_KIRIM] [datetime] NOT NULL,
	[DOKUMEN_PENDUKUNG] [nvarchar](100) NOT NULL,
	[DOKUMEN_PENDUKUNG_DESC] [text] NULL,
	[DOKUMEN_PENDUKUNG_FILE] [nvarchar](100) NULL,
	[DOKUMEN_NOMOR] [nvarchar](100) NULL,
	[CATATAN] [text] NOT NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_TRN_SPB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
