USE [SIM_PPIC]
GO
/****** Object:  Table [dbo].[CHANGES_HISTORY]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHANGES_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MODUL_ID] [int] NOT NULL,
	[FORM_ID] [bigint] NOT NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ACTION] [varchar](200) NULL,
 CONSTRAINT [PK_CHANGES_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCUMENT_NUMBER]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_NUMBER](
	[ID] [int] NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NO] [int] NULL,
	[FORM_ID] [int] NULL,
 CONSTRAINT [PK_Table_] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[USER_ID] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
	[FIRST_NAME] [nvarchar](255) NULL,
	[LAST_NAME] [nvarchar](255) NULL,
	[PASSWORD] [text] NOT NULL,
	[ROLE_ID] [int] NULL,
	[POSITION] [nvarchar](100) NULL,
	[STATUS] [bit] NOT NULL,
	[LAST_ONLINE] [datetime] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_BAHAN_BAKU]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_BAHAN_BAKU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_BARANG] [nvarchar](255) NOT NULL,
	[SATUAN] [nvarchar](100) NOT NULL,
	[STOCK_AWAL] [decimal](18, 2) NULL,
	[STOCK] [decimal](18, 2) NOT NULL,
	[STOCK_AKHIR] [decimal](18, 2) NULL,
	[ISBAHAN_PEMBANTU] [tinyint] NULL,
	[STATUS] [bit] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](255) NULL,
 CONSTRAINT [PK_MST_BAHAN_BAKU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_BARANG_JADI]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_BARANG_JADI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[KOMPOSISI] [nvarchar](255) NOT NULL,
	[BENTUK] [nvarchar](100) NOT NULL,
	[BENTUK_LAIN] [nvarchar](100) NULL,
	[KEMASAN] [nvarchar](100) NOT NULL,
	[STOCK_AWAL] [decimal](18, 2) NULL,
	[STOCK] [decimal](18, 2) NOT NULL,
	[STOCK_AKHIR] [decimal](18, 2) NULL,
	[STATUS] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_MST_BARANG_JADI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_KEMASAN]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_KEMASAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KEMASAN] [nvarchar](255) NULL,
	[STATUS] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_KEMASAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_KONSUMEN]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_KONSUMEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMA_KONSUMEN] [nvarchar](100) NOT NULL,
	[ALAMAT_KONSUMEN] [text] NOT NULL,
	[CONTACT_PERSON] [nvarchar](50) NULL,
	[NO_TELP] [nchar](10) NULL,
	[STATUS] [int] NULL,
 CONSTRAINT [PK_MST_KONSUMEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_UOM]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_UOM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SATUAN] [nvarchar](100) NOT NULL,
	[DESKRIPSI] [text] NULL,
	[STATUS] [tinyint] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_MASTER_UOM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MST_WILAYAH]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_WILAYAH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WILAYAH] [nvarchar](100) NOT NULL,
	[KODE] [int] NOT NULL,
	[STATUS] [bit] NOT NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_MST_WILAYAH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAGE]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGE](
	[PAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAGE_NAME] [nvarchar](50) NULL,
	[PAGE_URL] [nvarchar](100) NULL,
	[MENU_NAME] [nvarchar](50) NULL,
	[PARENT_PAGE_ID] [int] NULL,
 CONSTRAINT [PK_PAGE] PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_BAHAN_BAKU]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_BAHAN_BAKU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[DOC_NUMBER] [nvarchar](100) NOT NULL,
	[STATUS] [tinyint] NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
 CONSTRAINT [PK_SO_BAHAN_BAKU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_BAHAN_BAKU_DETAILS]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_BAHAN_BAKU_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SO_BAHAN_BAKU] [int] NOT NULL,
	[ID_BARANG] [int] NOT NULL,
	[STOCK_SISTEM] [decimal](18, 2) NOT NULL,
	[STOCK_REAL] [decimal](18, 2) NULL,
	[SELISIH] [decimal](18, 2) NULL,
	[KETERANGAN] [text] NULL,
 CONSTRAINT [PK_SO_BAHAN_BAKU_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_BARANG_JADI]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_BARANG_JADI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[STATUS] [tinyint] NOT NULL,
	[DOC_NUMBER] [nvarchar](100) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
 CONSTRAINT [PK_SO_BARANG_JADI_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SO_BARANG_JADI_DETAILS]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SO_BARANG_JADI_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SO_BARANG_JADI] [int] NOT NULL,
	[ID_BARANG] [int] NOT NULL,
	[STOCK_SISTEM] [decimal](18, 2) NOT NULL,
	[STOCK_REAL] [decimal](18, 2) NOT NULL,
	[SELISIH] [decimal](18, 2) NOT NULL,
	[KETERANGAN] [text] NULL,
 CONSTRAINT [PK_SO_BARANG_JADI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_DO]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_DO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NO_SPB] [nvarchar](100) NOT NULL,
	[NO_DO] [nvarchar](100) NOT NULL,
	[NAMA_KONSUMEN] [nvarchar](255) NOT NULL,
	[ALAMAT_KONSUMEN] [text] NULL,
	[TUJUAN_KIRIM] [text] NULL,
	[JUMLAH] [decimal](18, 2) NOT NULL,
	[NAMA_CP] [nvarchar](100) NULL,
	[NO_TELP] [nvarchar](100) NULL,
	[NO_FAX] [nvarchar](100) NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[KOMPOSISI] [nvarchar](255) NULL,
	[BENTUK] [nvarchar](100) NULL,
	[KEMASAN] [nvarchar](100) NULL,
	[KETERANGAN] [text] NULL,
	[HARGA_LOKO] [decimal](18, 4) NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
	[REMARK] [text] NULL,
 CONSTRAINT [PK_TRN_DO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_HASIL_PRODUKSI]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_HASIL_PRODUKSI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO_SURAT] [nvarchar](100) NULL,
	[TANGGAL] [datetime] NOT NULL,
	[TANGGAL_PRODUKSI] [datetime] NULL,
	[ID_BARANG] [int] NOT NULL,
	[LOKASI_PRODUKSI] [nvarchar](100) NULL,
	[SHIFT] [int] NULL,
	[NAMA_BARANG] [nvarchar](100) NULL,
	[KEMASAN] [nvarchar](100) NULL,
	[BENTUK] [nvarchar](100) NULL,
	[ZAK] [decimal](18, 2) NULL,
	[KUANTUM] [decimal](18, 2) NULL,
	[STOCK_AWAL] [decimal](18, 2) NULL,
	[JUMLAH] [decimal](18, 2) NOT NULL,
	[STOCK_AKHIR] [decimal](18, 2) NULL,
	[CATATAN] [text] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[REMARKS] [text] NULL,
	[STATUS] [tinyint] NULL,
 CONSTRAINT [PK_HASIL_PRODUKSI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_MUTASI_BARANG]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_MUTASI_BARANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO_SURAT] [nvarchar](100) NOT NULL,
	[ID_BARANG_JADI] [int] NULL,
	[ID_BAHAN_BAKU] [int] NULL,
	[TANGGAL] [datetime] NOT NULL,
	[DEPT_BAGIAN] [nvarchar](100) NOT NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[BENTUK] [nvarchar](100) NULL,
	[KEMASAN] [nvarchar](100) NULL,
	[JENIS_BARANG] [int] NULL,
	[SATUAN] [nvarchar](100) NULL,
	[LOKASI] [nvarchar](255) NULL,
	[JUMLAH] [decimal](18, 2) NULL,
	[STOCK_AWAL] [decimal](18, 2) NULL,
	[STOCK_AKHIR] [decimal](18, 2) NULL,
	[KETERANGAN] [text] NULL,
	[REMARKS] [text] NULL,
	[STATUS] [tinyint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRN_MUTASI_BARANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_PEMAKAIAN_HASIL_PRODUKSI]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_PEMAKAIAN_HASIL_PRODUKSI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMOR] [nvarchar](100) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[CATATAN] [text] NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
 CONSTRAINT [PK_PEMAKAIAN_HASIL_PRODUKSI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_PEMAKAIAN_HASIL_PRODUKSI_DETAILS]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_PEMAKAIAN_HASIL_PRODUKSI_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PEMAKAIAN_HASIL_PRODUKSI] [int] NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[JUMLAH] [decimal](18, 2) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRN_PEMAKAIAN_HASIL_PRODUKSI_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_PENERIMAAN_BARANG]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_PENERIMAAN_BARANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BAHAN_BAKU] [int] NOT NULL,
	[NO_SURAT] [nvarchar](200) NOT NULL,
	[SUPPLIER] [nvarchar](255) NOT NULL,
	[NOMOR_PO] [nvarchar](200) NULL,
	[NOMOR_TTB] [int] NULL,
	[TANGGAL] [datetime] NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[SATUAN] [nvarchar](100) NULL,
	[KUANTUM] [decimal](18, 2) NOT NULL,
	[STOCK_AWAL] [decimal](18, 2) NULL,
	[STOCK_AKHIR] [decimal](18, 2) NULL,
	[JUMLAH] [decimal](18, 2) NOT NULL,
	[CATATAN] [text] NULL,
	[REMARKS] [text] NULL,
	[STATUS] [tinyint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRN_PENERIMAAN_BARANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_PENERIMAAN_SUPPLIER]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_PENERIMAAN_SUPPLIER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NO_POLISI] [nvarchar](50) NOT NULL,
	[NAMA_SUPPLIER] [nvarchar](255) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[CATATAN] [text] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[MODIFIED_BY] [nvarchar](255) NULL,
	[MODIFIED_DATE] [datetime] NULL,
 CONSTRAINT [PK_PENERIMAAN_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_PENERIMAAN_SUPPLIER_DETAILS]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_PENERIMAAN_SUPPLIER_DETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TRN_PENERIMAAN_SUPPLIER] [int] NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NAMA_SUPPLIER] [nvarchar](255) NULL,
	[NAMA_BARANG] [nvarchar](100) NOT NULL,
	[JUMLAH] [decimal](18, 2) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
 CONSTRAINT [PK_TRN_PENERIMAAN_SUPPLIER_DETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_PENGIRIMAN]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_PENGIRIMAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_BARANG] [int] NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NO_SURAT_JALAN] [nvarchar](100) NOT NULL,
	[NO_SPB] [nvarchar](100) NOT NULL,
	[NO_DO] [int] NOT NULL,
	[NO_RIT] [int] NOT NULL,
	[PARTAI] [decimal](18, 2) NULL,
	[TOTAL_KIRIM] [decimal](18, 2) NULL,
	[SISA_KIRIM] [decimal](18, 2) NULL,
	[TRNSPT_NAMA_PT] [nvarchar](255) NULL,
	[TRNSPT_JENIS_KENDARAAN] [nvarchar](100) NULL,
	[TRNSPT_NO_POLISI] [nvarchar](50) NULL,
	[TRNSPT_BERANGKAT] [datetime] NULL,
	[TRNSPT_SAMPAI] [datetime] NULL,
	[TRNSPT_NAMA_SOPIR] [nvarchar](100) NULL,
	[NAMA_KONSUMEN] [nvarchar](255) NULL,
	[ALAMAT_KONSUMEN] [text] NULL,
	[PROVINSI] [nvarchar](255) NULL,
	[KABUPATEN] [nvarchar](255) NULL,
	[NAMA_PENGIRIM] [nvarchar](100) NULL,
	[TAMBAHAN_KUANTUM] [decimal](18, 2) NULL,
	[NAMA_BARANG] [nvarchar](100) NULL,
	[KEMASAN] [nvarchar](100) NULL,
	[ZAK] [int] NULL,
	[STOCK_AWAL] [decimal](18, 2) NULL,
	[KUANTUM] [decimal](18, 2) NULL,
	[TIMBANGAN] [decimal](18, 2) NULL,
	[STOCK_AKHIR] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[KETERANGAN] [text] NULL,
	[STATUS] [tinyint] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[REMARK] [text] NULL,
 CONSTRAINT [PK_TRN_PENGIRIMAN_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_TRN_PENGIRIMAN_MASTER] UNIQUE NONCLUSTERED 
(
	[NO_SURAT_JALAN] ASC,
	[NO_SPB] ASC,
	[NO_DO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_SPB]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_SPB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NO_SPB] [nvarchar](100) NOT NULL,
	[SALES] [nvarchar](100) NOT NULL,
	[WILAYAH] [nvarchar](100) NOT NULL,
	[NAMA_PRODUK] [nvarchar](100) NOT NULL,
	[KOMPOSISI] [nvarchar](255) NOT NULL,
	[BENTUK] [nvarchar](100) NOT NULL,
	[BENTUK_DESC] [text] NULL,
	[KEMASAN] [nvarchar](100) NOT NULL,
	[KEMASAN_DESC] [text] NULL,
	[NAMA_KONSUMEN] [nvarchar](255) NOT NULL,
	[ALAMAT_KONSUMEN] [text] NOT NULL,
	[NO_TELP] [nvarchar](100) NULL,
	[CONTACT_PERSON] [nvarchar](100) NULL,
	[SEGMEN_PASAR] [nvarchar](100) NOT NULL,
	[JENIS_PENJUALAN] [nvarchar](50) NOT NULL,
	[JENIS_PENJUALAN_DESC] [text] NULL,
	[CARA_PEMBAYARAN] [nvarchar](50) NOT NULL,
	[KUANTUM] [decimal](18, 2) NOT NULL,
	[HARGA_JUAL] [decimal](18, 2) NOT NULL,
	[ONGKOS_KIRIM] [decimal](18, 0) NULL,
	[PPN] [nvarchar](100) NOT NULL,
	[HARGA_LOKO] [decimal](18, 2) NOT NULL,
	[LOKASI_KIRIM] [text] NULL,
	[BATAS_KIRIM] [datetime] NOT NULL,
	[DOKUMEN_PENDUKUNG] [nvarchar](100) NULL,
	[DOKUMEN_PENDUKUNG_TYPE] [int] NULL,
	[DOKUMEN_PENDUKUNG_DESC] [text] NULL,
	[DOKUMEN_PENDUKUNG_FILE] [text] NULL,
	[DOKUMEN_NOMOR] [nvarchar](100) NULL,
	[CATATAN] [text] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[STATUS] [int] NULL,
	[REMARK] [text] NULL,
 CONSTRAINT [PK_TRN_SPB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRN_SURAT_PENGANTAR_BONGKAR_MUAT]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRN_SURAT_PENGANTAR_BONGKAR_MUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TANGGAL] [datetime] NOT NULL,
	[NO_SURAT] [nvarchar](100) NOT NULL,
	[NO_SPB] [nvarchar](100) NULL,
	[NO_DO] [int] NULL,
	[TRNSPT_NAMA_PT] [nvarchar](255) NULL,
	[TRNSPT_JENIS_KENDARAAN] [nvarchar](100) NULL,
	[TRNSPT_NO_POLISI] [nvarchar](50) NULL,
	[TRNSPT_JAM_DATANG] [datetime] NULL,
	[TRNSPT_NAMA_SOPIR] [nvarchar](100) NULL,
	[GUDANG] [nvarchar](100) NULL,
	[JENIS_BARANG] [int] NULL,
	[NAMA_BARANG] [nvarchar](100) NULL,
	[KUANTUM] [decimal](18, 2) NULL,
	[BENTUK] [nchar](100) NULL,
	[KEMASAN] [nvarchar](100) NULL,
	[JAM_MUAT] [datetime] NULL,
	[STATUS] [int] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[MODIFIED_BY] [nvarchar](100) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[CATATAN] [text] NULL,
	[REMARK] [text] NULL,
 CONSTRAINT [PK_TRN_SURAT_PENGANTAR_BONGKAR_MUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WORKING_HOURS]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKING_HOURS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMA] [nvarchar](50) NULL,
	[JAM_MULAI] [datetime] NULL,
	[JAM_SELESAI] [datetime] NULL,
	[STATUS] [tinyint] NULL,
 CONSTRAINT [PK_WORKING_HOURS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SO_BAHAN_BAKU_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SO_BAHAN_BAKU_DETAILS_MST_BAHAN_BAKU] FOREIGN KEY([ID])
REFERENCES [dbo].[MST_BAHAN_BAKU] ([ID])
GO
ALTER TABLE [dbo].[SO_BAHAN_BAKU_DETAILS] CHECK CONSTRAINT [FK_SO_BAHAN_BAKU_DETAILS_MST_BAHAN_BAKU]
GO
ALTER TABLE [dbo].[SO_BAHAN_BAKU_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SO_BAHAN_BAKU_DETAILS_SO_BAHAN_BAKU_DETAILS] FOREIGN KEY([ID_SO_BAHAN_BAKU])
REFERENCES [dbo].[SO_BAHAN_BAKU] ([ID])
GO
ALTER TABLE [dbo].[SO_BAHAN_BAKU_DETAILS] CHECK CONSTRAINT [FK_SO_BAHAN_BAKU_DETAILS_SO_BAHAN_BAKU_DETAILS]
GO
ALTER TABLE [dbo].[SO_BARANG_JADI_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SO_BARANG_JADI_DETAILS_SO_BARANG_JADI] FOREIGN KEY([ID_SO_BARANG_JADI])
REFERENCES [dbo].[SO_BARANG_JADI] ([ID])
GO
ALTER TABLE [dbo].[SO_BARANG_JADI_DETAILS] CHECK CONSTRAINT [FK_SO_BARANG_JADI_DETAILS_SO_BARANG_JADI]
GO
ALTER TABLE [dbo].[SO_BARANG_JADI_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_SO_BARANG_JADI_MST_BARANG_JADI] FOREIGN KEY([ID_BARANG])
REFERENCES [dbo].[MST_BARANG_JADI] ([ID])
GO
ALTER TABLE [dbo].[SO_BARANG_JADI_DETAILS] CHECK CONSTRAINT [FK_SO_BARANG_JADI_MST_BARANG_JADI]
GO
ALTER TABLE [dbo].[TRN_HASIL_PRODUKSI]  WITH CHECK ADD  CONSTRAINT [FK_HASIL_PRODUKSI_MST_BARANG_JADI] FOREIGN KEY([ID_BARANG])
REFERENCES [dbo].[MST_BARANG_JADI] ([ID])
GO
ALTER TABLE [dbo].[TRN_HASIL_PRODUKSI] CHECK CONSTRAINT [FK_HASIL_PRODUKSI_MST_BARANG_JADI]
GO
ALTER TABLE [dbo].[TRN_MUTASI_BARANG]  WITH CHECK ADD  CONSTRAINT [FK_TRN_MUTASI_BARANG_MST_BARANG_JADI] FOREIGN KEY([ID_BARANG_JADI])
REFERENCES [dbo].[MST_BARANG_JADI] ([ID])
GO
ALTER TABLE [dbo].[TRN_MUTASI_BARANG] CHECK CONSTRAINT [FK_TRN_MUTASI_BARANG_MST_BARANG_JADI]
GO
ALTER TABLE [dbo].[TRN_PEMAKAIAN_HASIL_PRODUKSI_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TRN_PEMAKAIAN_HASIL_PRODUKSI_DETAILS_TRN_PEMAKAIAN_HASIL_PRODUKSI] FOREIGN KEY([ID_PEMAKAIAN_HASIL_PRODUKSI])
REFERENCES [dbo].[TRN_PEMAKAIAN_HASIL_PRODUKSI] ([ID])
GO
ALTER TABLE [dbo].[TRN_PEMAKAIAN_HASIL_PRODUKSI_DETAILS] CHECK CONSTRAINT [FK_TRN_PEMAKAIAN_HASIL_PRODUKSI_DETAILS_TRN_PEMAKAIAN_HASIL_PRODUKSI]
GO
ALTER TABLE [dbo].[TRN_PENERIMAAN_BARANG]  WITH CHECK ADD  CONSTRAINT [FK_TRN_PENERIMAAN_BARANG_MST_BAHAN_BAKU] FOREIGN KEY([ID_BAHAN_BAKU])
REFERENCES [dbo].[MST_BAHAN_BAKU] ([ID])
GO
ALTER TABLE [dbo].[TRN_PENERIMAAN_BARANG] CHECK CONSTRAINT [FK_TRN_PENERIMAAN_BARANG_MST_BAHAN_BAKU]
GO
ALTER TABLE [dbo].[TRN_PENERIMAAN_SUPPLIER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_TRN_PENERIMAAN_SUPPLIER_DETAILS_TRN_PENERIMAAN_SUPPLIER] FOREIGN KEY([ID_TRN_PENERIMAAN_SUPPLIER])
REFERENCES [dbo].[TRN_PENERIMAAN_SUPPLIER] ([ID])
GO
ALTER TABLE [dbo].[TRN_PENERIMAAN_SUPPLIER_DETAILS] CHECK CONSTRAINT [FK_TRN_PENERIMAAN_SUPPLIER_DETAILS_TRN_PENERIMAAN_SUPPLIER]
GO
ALTER TABLE [dbo].[TRN_PENGIRIMAN]  WITH CHECK ADD  CONSTRAINT [FK_TRN_PENGIRIMAN_MST_BARANG_JADI] FOREIGN KEY([ID_BARANG])
REFERENCES [dbo].[MST_BARANG_JADI] ([ID])
GO
ALTER TABLE [dbo].[TRN_PENGIRIMAN] CHECK CONSTRAINT [FK_TRN_PENGIRIMAN_MST_BARANG_JADI]
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRptOutstanding]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GetRptOutstanding]
	@DateFrom as varchar(200) ,
	@DateTo as varchar(200)

AS BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @Date_From datetime, @Date_To datetime;
	set @Date_From = Convert(Date,@DateFrom);
	set @Date_To = Convert(Date,@DateTo);

select 
	A.TANGGAL, 
	C.BATAS_KIRIM,
	A.NO_SPB, 
	A.NO_DO, 
	A.NAMA_KONSUMEN,
    PARTY = A.JUMLAH,
	AKUMULASI = B.AKUMULASI,
	SISA = A.JUMLAH - B.AKUMULASI
from TRN_DO A 
JOIN TRN_SPB C ON C.NO_SPB = A.NO_SPB 
JOIN (SELECT NO_SPB, NO_DO ,PARTY, AKUMULASI = SUM(JUMLAH) FROM TRN_PENGIRIMAN GROUP BY NO_SPB, NO_DO, PARTY ) as B
ON B.NO_SPB = A.NO_SPB
WHERE (B.PARTY - B.AKUMULASI ) > 0
 
AND A.TANGGAL >= @Date_From AND A.TANGGAL <= @Date_To
 ;
 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RealisasiHarian]    Script Date: 7/21/2019 12:00:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[SP_RealisasiHarian]
	@Date as varchar(200)

AS BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- set @Date_Today = Convert(Date,@d);

	SET NOCOUNT ON;
	Declare @Date_Today datetime;
	set @Date_Today = Convert(Date,@Date);

SELECT 
	RIGHT('0000'+CAST(T1.NO_DO AS VARCHAR(4)),4) AS NO_DO, 
	T1.NO_SPB,
	T1.NAMA_KONSUMEN,
	T1.TUJUAN_KIRIM,
	T1.ALAMAT_KONSUMEN,
	T2.NAMA_BARANG,
	T2.KEMASAN,
	T2.ZAK,
	T2.TOTAL,
	T2.[TOTAL TIMBANGAN],
	T2.[TOTAL TRUK]
FROM TRN_DO t1
INNER JOIN (
		SELECT	NO_SPB, NO_DO,NAMA_BARANG,KEMASAN, 
			SUM(ZAK) AS 'ZAK',
			SUM(KUANTUM) AS 'TOTAL',
			SUM(TIMBANGAN) AS 'TOTAL TIMBANGAN',
			COUNT(*) AS 'TOTAL TRUK' 
		FROM TRN_PENGIRIMAN 
		WHERE YEAR(TANGGAL) = YEAR(@Date_Today) AND MONTH(TANGGAL) = MONTH(@Date_Today)
		GROUP BY NO_DO, NO_SPB, NAMA_BARANG,KEMASAN
) t2
ON t1.NO_DO = t2.NO_DO 
AND t1.NO_SPB= t2.NO_SPB;

END

GO
